*.egg-info
data
_ignore
reports/notes
tests
code/analysis-scripts/python/prfpy-main
code/notebooks/crash-*
code/analysis-scripts/python/hcp_movie-master
code/analysis-scripts/python/crash-20221218-154045-mayaaj90-surfaceProject.a0.a3.a11-ef135607-105b-4d8e-8a16-6eddbf1b7bef.pklz
code/analysis-scripts/python/crash-20221218-155846-mayaaj90-surfaceProject.a0.a3.a07-a7329be2-717d-4631-80db-5d5afb3383a5.pklz
code/analysis-scripts/python/crash-20230106-132850-mayaaj90-discardDummies.a2.a3-8145d417-7ec6-44b2-90d3-1b812be0e09e.pklz
code/analysis-scripts/python/crash-20230106-205305-mayaaj90-autorecon_regenerate_surfaces-6276d2f5-9f1c-4104-9b4f-95cede292b09.pklz
code/analysis-scripts/python/log_p00_anat.txt
code/analysis-scripts/python/log_p00_func.txt
code/analysis-scripts/python/log_prf_sub0_hem0.txt
code/analysis-scripts/python/log_prf_sub0_hem1.txt
code/analysis-scripts/python/log_prf_sub1_hem0.txt
code/analysis-scripts/python/log_prf_sub1_hem1.txt
code/analysis-scripts/python/log_prf_sub2_hem0.txt
code/analysis-scripts/python/log_prf_sub2_hem1.txt
code/analysis-scripts/python/log_prf_sub3_hem0.txt
code/analysis-scripts/python/log_prf_sub3_hem1.txt
code/analysis-scripts/python/log_prf.txt
code/notebooks/Untitled.ipynb
code/analysis-scripts/slurm-jobs/log_p00_anat.txt
code/analysis-scripts/python/.ipynb_checkpoints/pRF-mapping-checkpoint.ipynb
code/analysis-scripts/python/pRF-mapping.ipynb
code/notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
